@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway/static/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat light";
  src: url("../../fonts/Montserrat/static/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/Open_Sans/static/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Sans medium";
  src: url("../../fonts/Open_Sans/static/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("../../fonts/Merriweather/Merriweather-LightItalic.ttf");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  padding-bottom: 14px;
  color: #242121;
}

.header .header__top .container {
  max-width: 1440px;
  margin: 0 auto;
}
.header .header__top .container .header__logo-and-menu {
  height: 94px;
  margin-left: 3.65%;
  margin-right: 3.65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__top .container .header__logo-and-menu .logo {
  width: 42px;
  height: 42px;
  background-image: url("../../images/icon/main-logo.svg");
  position: relative;
}
.header .header__top .container .header__logo-and-menu .logo .logo__link {
  width: 42px;
  height: 42px;
  position: absolute;
}
.header .header__top .container .header__logo-and-menu .logo .logo__link:hover {
  background-color: #00b2a0;
  border-radius: 50%;
}
.header .header__top .container .header__logo-and-menu .menu .menu__list {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-direction: row;
  list-style-type: none;
}
.header .header__top .container .header__logo-and-menu .menu .menu__list .menu__list-item {
  font-family: "Raleway", sans-serif;
}
.header .header__top .container .header__logo-and-menu .menu .menu__list .menu__list-item .menu__link {
  text-decoration: none;
  color: #333;
  padding: 9px 4px 9px 4px;
}
.header .header__top .container .header__logo-and-menu .menu .menu__list .menu__list-item .menu__link:hover {
  border-bottom: 1px solid #fcbb08;
}
.header .header__top .container .header__logo-and-menu .menu .menu__list .menu__list-item .menu__link--active {
  border-bottom: 1px solid #fcbb08;
}

.header__content .container {
  max-width: 1440px;
  margin: 0 auto;
}
.header__content .container .header__content-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-image: url("../../images/content/background-header.png");
  height: 752px;
  gap: 179.5px;
}
.header__content .container .header__content-inner .header__content-box {
  text-align: center;
}
.header__content .container .header__content-inner .header__content-box .header__content-title {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  color: #fff;
  padding-top: 250px;
  margin: 0;
}
.header__content .container .header__content-inner .header__content-box .header__content-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fcbb08;
  margin: 0;
}

.about .container {
  max-width: 1440px;
  margin: 0 auto;
}
.about .container .about__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 3.8%;
  min-height: 491px;
  height: auto;
  background-color: #F6F8FA;
}
.about .container .about__box .about__title-box {
  display: flex;
  flex-flow: column nowrap;
  height: 200px;
}
.about .container .about__box .about__title-box .about__title {
  width: 344px;
  font-size: 48px;
  gap: 14px;
  margin: 0;
}
.about .container .about__box .about__title-box .about__underline {
  width: 60px;
  height: 4px;
  background: #fcbb08;
}
.about .container .about__box .about__content {
  font-family: "Open Sans", sans-serif;
  width: auto;
  max-width: 770px;
}
.about .container .about__box .about__content .about__description {
  padding-top: 20px;
}

.expertise .container {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}
.expertise .container .expertise__box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 89px;
}
.expertise .container .expertise__box .expertise__title-box {
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  padding-left: 135px;
  padding-top: 143px;
}
.expertise .container .expertise__box .expertise__title-box .expertise__underline {
  width: 60px;
  height: 4px;
  background: #fcbb08;
}
.expertise .container .expertise__box .expertise__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  min-height: 137px;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  height: 137px;
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics .expertise__brand {
  display: flex;
  flex-direction: column;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics .expertise__brand .expertise__progressbar {
  background-color: #f0f0f0;
  width: 370px;
  height: 2px;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics .expertise__brand .expertise__progressbar .brand-line {
  background-color: #000;
  height: 2px;
  width: 90%;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics .expertise__brand .expertise__progressbar .design-line {
  background-color: #000;
  height: 2px;
  width: 80%;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics .expertise__brand .expertise__progressbar .dev-line {
  background-color: #000;
  height: 2px;
  width: 85%;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics .expertise__brand .expertise__type {
  display: flex;
  justify-content: space-between;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics .expertise__brand .expertise__type .brand-progress {
  padding-right: 20px;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics .expertise__brand .expertise__type .design-progress {
  padding-right: 57px;
}
.expertise .container .expertise__box .expertise__content .expertise__statistics .expertise__brand .expertise__type .dev-progress {
  padding-right: 39px;
}
.expertise .container .expertise__box .expertise__content .expertise__description {
  width: 770px;
  height: 100%;
  align-self: flex-end;
  font-family: "Open Sans", sans-serif;
}
.expertise .container .expertise__box .expertise__content .expertise__description .expertise__paragraph {
  padding-top: 20px;
}
.expertise .container .expertise__box .expertise__services {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 1 0 0;
  height: auto;
  padding-top: 21px;
  gap: 27px;
}
.expertise .container .expertise__box .expertise__services .expertise__item {
  display: flex;
  max-width: 370px;
  width: auto;
  gap: 35px;
}
.expertise .container .expertise__box .expertise__services .expertise__item .expertise__item-img {
  align-self: flex-start;
}
.expertise .container .expertise__box .expertise__services .expertise__item .marketing-img {
  -o-object-position: 0px -10px;
     object-position: 0px -10px;
}
.expertise .container .expertise__box .expertise__services .expertise__item .expertise__item-box .expertise__item-title {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin: 7px 0 18px 0;
}
.expertise .container .expertise__box .expertise__services .expertise__item .expertise__item-box .expertise__item-text {
  font-family: "Open Sans", sans-serif;
}
.expertise .container .expertise__box .expertise__services .expertise__margin {
  height: 164px;
  width: 100%;
}

.future .container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.future .container .future__img {
  width: 720px;
}
.future .container .future__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  width: 720px;
  gap: 67px;
  background: #F6F8FA;
}
.future .container .future__content .future__title-box {
  width: 470px;
  height: 150px;
}
.future .container .future__content .future__title-box .future__underline {
  width: 60px;
  height: 4px;
  background: #fcbb08;
}
.future .container .future__content .future__content-text {
  max-width: 470px;
  width: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.future .container .future__content .future__content-text .future__paragraph {
  padding-bottom: 15px;
}

.portfolio {
  max-width: 1440px;
  margin: 0 auto;
}
.portfolio .container .portfolio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  max-width: 1174px;
  height: 306px;
  margin: 0 auto;
}
.portfolio .container .portfolio__header .portfolio__title-box {
  display: flex;
  flex-flow: column nowrap;
}
.portfolio .container .portfolio__header .portfolio__title-box .portfolio__underline {
  width: 60px;
  height: 4px;
  background-color: #fcbb08;
}
.portfolio .container .portfolio__header .menu .menu__list {
  display: flex;
  list-style-type: none;
  gap: 40px;
}
.portfolio .container .portfolio__header .menu .menu__list .menu__list-item .menu__link--active {
  border-bottom: 1px solid #fcbb08;
}
.portfolio .container .portfolio__header .menu .menu__list .menu__list-item .menu__link {
  font-family: "Sans medium", sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #333;
  padding: 7px 5px;
}
.portfolio .container .portfolio__header .menu .menu__list .menu__list-item .menu__link:hover {
  border-bottom: 1px solid #fcbb08;
}
.portfolio .portfolio__main .container {
  display: flex;
  flex-flow: row nowrap;
  gap: 22px;
  padding-bottom: 22px;
}
.portfolio .portfolio__main .container .portfolio__grid {
  display: flex;
  gap: 22px;
  flex-flow: column nowrap;
  flex: 1 0 0;
}
.portfolio .portfolio__main .container .portfolio__grid .portfolio__img {
  background-color: #ededed;
}
.portfolio .portfolio__main .container .portfolio__grid .img1 {
  height: 494px;
}
.portfolio .portfolio__main .container .portfolio__grid .img2 {
  height: 395px;
}
.portfolio .portfolio__main .container .portfolio__grid .img3--active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 288px;
  border: 15px solid rgba(65, 59, 59, 0.8);
  background-color: rgba(36, 33, 33, 0.8);
}
.portfolio .portfolio__main .container .portfolio__grid .img3--active .img3-title,
.portfolio .portfolio__main .container .portfolio__grid .img3--active .img3-text {
  font-family: "Sans medium", sans-serif;
  color: #fff;
}
.portfolio .portfolio__main .container .portfolio__grid .img3--active .img3-text {
  font-size: 12px;
  font-weight: 300;
}
.portfolio .portfolio__main .container .portfolio__grid .img4 {
  height: 288px;
}
.portfolio .portfolio__main .container .portfolio__grid .img5 {
  height: 292px;
}
.portfolio .portfolio__main .container .portfolio__grid .img6 {
  height: 367px;
}
.portfolio .portfolio__main .container .portfolio__grid .img7 {
  height: 523px;
}
.portfolio .portfolio__main .container .portfolio__grid .img8 {
  height: 318px;
}
.portfolio .portfolio__main .container .portfolio__grid .img9 {
  height: 572px;
}
.portfolio .portfolio__main .hidden {
  display: none;
}
.portfolio .portfolio__main .hidden .portfolio__grid .portfolio__img {
  background-color: #fcbb08;
}
.portfolio .portfolio__margin {
  height: 50px;
}
.portfolio .portfolio__footer .container {
  background-color: #F6F8FA;
  text-align: center;
}
.portfolio .portfolio__footer .container .portfolio__footer-btn {
  height: 100px;
  width: 100%;
  font-family: "Montserrat";
  font-size: 14px;
  border: none;
}
.portfolio .portfolio__footer .container .portfolio__footer-btn:hover {
  background-color: #b3b3b3;
}

.achivements .container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.achivements .container .achivements__quote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 652px;
  height: 432px;
  gap: 31px;
  line-height: 36px;
}
.achivements .container .achivements__quote-box .achivements__quote {
  font-family: "Merriweather";
  font-size: 18px;
  font-weight: 300;
  color: #242121;
}
.achivements .container .achivements__quote-box .achivements__quote-author {
  font-family: "Merriweather";
  font-size: 14px;
  font-weight: 300;
  color: #9e9e9e;
}
.achivements .container .achivements__video-box {
  width: 100%;
  position: relative;
  height: auto;
}
.achivements .container .achivements__video-box .achivements__video {
  width: 100%;
}
.achivements .container .achivements__video-box .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  cursor: pointer;
}
.achivements .container .achivements__result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 431px;
  gap: 197px;
}
.achivements .container .achivements__result .achivements__block {
  display: flex;
  flex-flow: column wrap;
  width: 113px;
  gap: 9px;
}
.achivements .container .achivements__result .achivements__block .achivement__number {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}
.achivements .container .achivements__result .achivements__block .achivement__text {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  color: #00b2a0;
}

.slider .container {
  max-width: 1440px;
  margin: 0 auto;
}
.slider .container .slider__pics {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 840px;
  width: inherit;
  background-color: #F6F8FA;
}
.slider .container .slider__pics .slider__slide {
  position: absolute;
  display: inline-block;
  width: 706px;
  transform: translate(133px, 250px);
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 1px #000, -1px -1px 2px #000;
  padding: 10px;
}
.slider .container .slider__pics .slider__slide .slider__slide-title {
  font-family: "Montserrat";
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 32px;
}
.slider .container .slider__pics .slider__slide .slider__description {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  text-shadow: none;
}
.slider .container .slider__pics .first {
  background-color: #ff0000;
}
.slider .container .slider__pics .second {
  background-color: #ffa500;
}
.slider .container .slider__pics .second .slider__description {
  color: #000;
}
.slider .container .slider__pics .third {
  background-color: #ffff00;
}
.slider .container .slider__pics .third .slider__description {
  color: blue;
}
.slider .container .slider__pics .fourth {
  background-color: #00ff00;
}
.slider .container .slider__pics .fourth .slider__description {
  color: #000;
}
.slider .container .slider__pics .fifth {
  background-color: #00ffff;
}
.slider .container .slider__pics .fifth .slider__description {
  color: #000;
}
.slider .container .slider__pics .sixth {
  background-color: #0000ff;
}
.slider .container .slider__pics .seven {
  background-color: #8a2be2;
}
.slider .container .slider__pics .slider__btn-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider .container .slider__pics .slider__btn-box .slider__btn-left,
.slider .container .slider__pics .slider__btn-box .slider__btn-right {
  padding: 37px;
}
.slider .container .slider__pics .slider__pegination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 250px;
  width: auto;
  height: 14px;
  margin-left: 133px;
  margin-bottom: 114px;
  background-color: #F6F8FA;
}
.slider .container .slider__pics .slider__pegination .slider__dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
}
.slider .container .slider__pics .slider__pegination .slider__dot--active {
  width: 18px;
  height: 18px;
  background-color: #ffa500;
}

.team .container {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}
.team .container .team__title-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 315px;
  padding-left: 135px;
}
.team .container .team__title-box .team__underline {
  width: 60px;
  height: 4px;
  background-color: #fcbb08;
}
.team .container .team__container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
}
.team .container .team__container .team__face {
  margin-bottom: 35px;
}
.team .container .team__container .team__name {
  font-family: "Montserrat";
  font-size: 14px;
  text-align: center;
  color: #333;
  margin-bottom: 12px;
}
.team .container .team__container .team__proffesion {
  font-family: "Open Sans";
  font-size: 12px;
  text-align: center;
  color: #c2c2c2;
}
.team .container .team__margin {
  width: 100%;
  height: 164px;
}

.pricing .container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #F6F8FA;
  height: auto;
  color: #242121;
}
.pricing .container .pricing__title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 328px;
  padding-left: 135px;
}
.pricing .container .pricing__title-box .pricing__underline {
  width: 60px;
  height: 4px;
  background-color: #fcbb08;
}
.pricing .container .pricing__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 30px;
}
.pricing .container .pricing__box .pricing__follow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 51px;
  position: relative;
  width: 370px;
  height: 583px;
  background-color: #fff;
}
.pricing .container .pricing__box .pricing__follow-container .pricing__subscript {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Sans medium";
  font-size: 16px;
  padding-top: 24px;
  padding-left: 25px;
}
.pricing .container .pricing__box .pricing__follow-container .pricing__cost {
  display: inline-block;
  font-family: "Open Sans";
  position: relative;
  width: 163px;
  height: 109px;
}
.pricing .container .pricing__box .pricing__follow-container .pricing__cost .currency,
.pricing .container .pricing__box .pricing__follow-container .pricing__cost .sum,
.pricing .container .pricing__box .pricing__follow-container .pricing__cost .interval {
  position: absolute;
}
.pricing .container .pricing__box .pricing__follow-container .pricing__cost .currency {
  top: 15px;
  font-size: 40px;
}
.pricing .container .pricing__box .pricing__follow-container .pricing__cost .sum {
  left: 28px;
  font-size: 80px;
}
.pricing .container .pricing__box .pricing__follow-container .pricing__cost .interval {
  bottom: 17px;
  right: 0;
  font-size: 20px;
}
.pricing .container .pricing__box .pricing__follow-container .content {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
}
.pricing .container .pricing__box .pricing__follow-container .content__btn {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
  padding: 3px;
  text-decoration: none;
  color: #242121;
}
.pricing .container .pricing__box .pricing__follow-container .content__btn:hover {
  color: #fcbb08;
  border-radius: 1px;
}
.pricing .container .pricing__margin {
  width: 100%;
  height: 162px;
}

.spacer {
  max-width: 1440px;
  margin: 0 auto;
  height: 292px;
}

.contact .container {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 83px;
}
.contact .container .contact__form {
  display: flex;
  flex-flow: column wrap;
  width: 48.48%;
  gap: 94px;
  padding-left: 135px;
}
.contact .container .contact__form .contact__title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 145px;
}
.contact .container .contact__form .contact__title-box .contact__underline {
  width: 60px;
  height: 4px;
  background-color: #fcbb08;
}
.contact .container .contact__form .contact__fields {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
.contact .container .contact__form .contact__fields .contact__identificator {
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}
.contact .container .contact__form .contact__fields .contact__name,
.contact .container .contact__form .contact__fields .contact__email,
.contact .container .contact__form .contact__fields .contact__message {
  max-width: 569px;
  font-family: "Sans-medium";
  font-size: 12px;
  letter-spacing: 3.709px;
  color: #B8B8B8;
  padding-bottom: 16px;
  border-style: none;
  border-bottom: 2px solid #000;
  resize: none;
}
.contact .container .contact__form .contact__fields .contact__name:focus,
.contact .container .contact__form .contact__fields .contact__email:focus,
.contact .container .contact__form .contact__fields .contact__message:focus {
  letter-spacing: normal;
  color: #000;
  font-size: 20px;
  outline: none;
}
.contact .container .contact__form .contact__fields .button {
  display: inline-block;
  padding: 17px 58px 15px 58px;
  background-color: #242121;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 700;
}
.contact .container .contact__form .contact__fields .button:hover {
  background-color: #F6F8FA;
  color: #000;
  border-right: 5px solid #000;
  border-bottom: 5px solid #000;
}
.contact .container .contact__form .contact__fields .contact__button {
  align-self: flex-start;
}
.contact .container .contact__map {
  height: 902px;
  width: 45%;
}

.footer .container {
  margin: 0 auto;
  max-width: 1440px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 40px;
  background-color: #373A39;
}
.footer .container .footer__margin-block {
  width: 100%;
  height: 70px;
}
.footer .container .footer__logo-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 68px;
  width: 150px;
  gap: 24px;
}
.footer .container .footer__logo-box .footer__logo {
  width: 42px;
  height: 42px;
  position: relative;
  background-image: url(../../images/icon/main-logo.svg);
}
.footer .container .footer__logo-box .footer__logo .logo__link {
  width: 42px;
  height: 42px;
  position: absolute;
}
.footer .container .footer__logo-box .footer__logo .logo__link:hover {
  background-color: #00B2A0;
  border-radius: 50%;
}
.footer .container .footer__logo-box .footer__underline {
  width: 150px;
  height: 2px;
  background-color: #fcbb08;
}
.footer .container .footer__menu {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
}
.footer .container .footer__menu .footer__menu-item {
  list-style-type: none;
}
.footer .container .footer__menu .footer__menu-item .footer__link {
  font-family: "Montserrat light";
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}
.footer .container .footer__menu .footer__menu-item .footer__link:hover {
  color: #fcbb08;
}
.footer .container .footer__addr-cntnr {
  text-align: center;
  color: #a8a8aa;
}
.footer .container .footer__angle-up {
  padding: 5px 8px;
}
.footer .container .footer__angle-up:hover {
  border-radius: 3px;
  background-color: #8a2be2;
}
.footer .container .footer__bottom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #2a2c2b;
}
.footer .container .footer__bottom-box .footer__bottom-text {
  color: #ccc;
}

@media only screen and (max-width: 1439px) {
  .future__img,
.future__content {
    width: 100% !important;
    height: auto !important;
  }
  .future__content {
    padding: 5% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .spacer {
    height: auto;
  }
  .contact__form,
.map {
    flex: 1 0 0;
  }
}
@media only screen and (max-width: 992px) {
  .about__box {
    min-height: 360px !important;
  }
  .about__title-box {
    height: auto !important;
  }
  .expertise__content {
    justify-content: flex-start !important;
    padding-left: 135px !important;
  }
  .expertise__description {
    padding-right: 135px !important;
  }
  .expertise__services {
    justify-content: flex-start !important;
    padding-left: 135px;
    gap: 100px !important;
  }
  .expertise__services .expertise__item {
    margin: 10px;
  }
  .expertise__services .expertise__margin {
    height: 143px !important;
  }
  .achivements__result {
    gap: 90px !important;
  }
  .logo {
    margin-right: 0.9% !important;
  }
  .menu__list {
    gap: 33px !important;
  }
}
@media only screen and (max-width: 768px) {
  .about__content {
    padding: 0 5% !important;
  }
  .portfolio__header {
    padding: 0 33px !important;
  }
  .slider__pics {
    align-items: center !important;
    justify-content: center !important;
    height: auto !important;
    min-height: 840px !important;
    gap: 20px !important;
    position: static !important;
  }
  .slider__pics .slider__slide {
    transform: none !important;
    position: relative !important;
    width: auto !important;
    max-width: 706px !important;
    height: 565px;
  }
  .slider__pics .slider__pegination {
    align-self: flex-start !important;
  }
  .header__logo-and-menu .logo {
    display: none !important;
  }
}
@media only screen and (max-width: 576px) {
  .expertise__title-box,
.expertise__content,
.expertise__services {
    padding-left: 0 !important;
    padding-left: 5% !important;
  }
  .achivements__result {
    gap: 120px !important;
  }
  .contact__form {
    padding: 0 5% !important;
  }
  .contact__map {
    width: 90% !important;
  }
  .menu__list {
    gap: 4px !important;
  }
  .achivements__quote-box {
    width: auto !important;
    max-width: 652px;
  }
  .pricing__title-box,
.team__title-box {
    padding-left: 17.8% !important;
  }
  .future__title-box {
    width: auto !important;
  }
}
@media only screen and (max-width: 425px) {
  .header__logo-and-menu {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .header__logo-and-menu .logo {
    display: none !important;
  }
  .expertise__description {
    padding-right: 0 !important;
  }
  .menu__list {
    flex-flow: row wrap !important;
    gap: 40px !important;
  }
  .header__content-title {
    font-size: 70px !important;
  }
  .header__content-text {
    display: inline-block !important;
  }
  .future__title-box {
    width: 100% !important;
  }
  .footer__menu {
    gap: 60px !important;
    justify-content: center;
  }
}
@media only screen and (max-width: 375px) {
  .expertise__content,
.expertise__services {
    padding-left: 1% !important;
  }
}/*# sourceMappingURL=style.css.map */